<div class = "middle">
  <h2 class="header">Log in</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class = "inform">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required />
        <mat-error *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
        <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
          Password is required
        </mat-error>
      </mat-form-field>

      <button color="primary" type="submit" mat-raised-button>Login</button>
      <p>Don't have an account yet? <a routerLink="/register">Sign Up</a></p>
    </div>
  </form>
</div>